.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(36, 35, 35);
  width: 80vw;
  max-width: 400px;
  height: 200px;

  img {
    object-position: 50% 50%;
    height: 80%;
    width: 100%;
    object-fit: cover;
  }

  .name-character {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px yellow;
  }

  &:hover {
    .name-character {
      box-shadow: 0 0 10px red;
      border-top: solid 2px red;
    }
  }
}
