@font-face {
  font-family: "Starwars";
  src: url("./assets/fonts/starjedi/Starjedi.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #1a1916;
  color: white;
  font-family: "Starwars", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
